.H1 {
    width: 168px;
    height: 28px;
    color: #343640;
    font-family: "Stem-Madium";
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 1px;
}

.H2 {
    width:104px;
    height: 19px;
    color:#2b2d36;
    font-family: "Stem-Madium";
    font-size: 16px;
    font-weight: 500;
}

.nameCategory {
    width:176px;
    height: 16px;
    color:#343640;
    font-family: "Stem-Madium";
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform:uppercase;

}
.Subtitle {
    width:101px;
    height: 18px;
    color:#2b2d36;
    font-family: "Roboto Madium";
    font-size: 15px;
    font-weight: 500;

}
.Text {
    width: 332px;
    height:18px;
    color: #2b2d36;
    font-family: Roboto;
    font-size: 15px;
    font-weight:400;
    
}
.BaseLink {
    color: #68d6f4;
    font-family:"Roboto Madium" ;
    font-weight:500;

}
.Link {
    color: # 572f8c;
    font-family:"Roboto Madium" ;
    font-weight:500;

}
.Link Link--refreshed {
    width: 258px;
    height: 15px;
    color: #c2c2c2;
    font-family: Roboto;
    font-size: 13px;
    font-weight: 400;
}
.secondLink {
    width: 136px;
    height: 16px;
    color: #68d6f4;
    font-family: "Roboto Medium";
    font-size: 14px;
    font-weight: 500;
}