.item {
  display: flex;
  justify-content: space-between;
  width: 176px;
  height: 36px;
  cursor: pointer;
  &:hover,
  &--checked {
    box-shadow: 0px 7px 11px rgba(0, 0, 0, 0.03),
      0px 2px 4px rgba(0, 0, 0, 0.06);
    border-radius: 6px;
  }

  &__dots {
    display: block;
    width: 100%;
    position: relative;

    &:after {
      content: "";
      display: block;
      position: absolute;
      top: calc(50% + 2px);
      left: 50%;
      transform: translate(-50%, -50%);
      width: calc(100% - 4px);
      height: 0;
      border: 1px dotted black;
    }
  }

  .radio,
  .weight_price {
    min-width: fit-content;
    margin-top: auto;
    margin-bottom: auto;
  }
}

.weight {
  color: #2b2d36;
}
