$background: url("/image/background.png");
$texture: url("/image/texture.png");

.header {
  background-image: $background;
}

.header__top {
  height: 150px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.header__top > div {
  margin-right: 15px;
}

.logo {
  margin-bottom: 20px;
}

.address,
.number {
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;

  &:hover {
    color: #68d6f4;
    text-decoration: none;
  }
}

.header__search {
  position: relative;
  width: 500px;

  & input[type="text"] {
    font-size: 14px;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: none;
    padding-left: 10px;
  }
  & .search {
    position: absolute;
    right: 10px;
    top: 0;
    line-height: 40px;
    & a:hover {
      color: #572f8c;
    }
  }
}

div.search > a {
  font-size: 15px;
  color: #68d6f4;
  text-decoration: none;
  font-weight: 500;
}

.header {
  &__cart,
  &__private__cabinet {
    display: flex;
    align-items: center;
  }
}

.cart > .cart__link,
.private__cabinet {
  font-size: 15px;
  text-decoration: underline dotted;
  color: #fff;
  font-weight: bold;
  margin-bottom: 5px;

  &:hover {
    color: #68d6f4;
    text-decoration: underline dotted;
  }
}

.cart,
.user {
  margin-right: 5px;
}

.user__icon {
  width: 23px;
  height: 25px;
}

.cart {
  position: relative;

  &__icon {
    width: 27px;
    height: 25px;
  }

  &__count {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 22px;
    height: 22px;
    border-radius: 11px;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(50%, -50%);
    background-color: orange;
    color: white;
    font-size: 1rem;
    line-height: 1;
  }
}
