footer {
  background-image: url("/image/background-footer.png");
  height: 300px;

  & span {
    color: #fff;
  }

  & a {
    color: #fff;
    font-weight: 500;
  }

  & a:hover {
    color: #572f8c;
  }
}

.footer {
  display: flex;
  justify-content: space-between;

  &__nav__contact {
    margin-top: 65px;
  }

  &__nav {
    margin-top: 70px;
  }

  &__other {
    margin-top: 45px;
  }

  &__score {
    margin-top: 15px;
  }

  &__nav:last-child {
    margin-top: 55px;
  }

  &__title {
    color: #572f8c;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 20px;
    &:hover {
      text-decoration: underline;
      text-decoration-color: #572f8c;
    }
  }
  &__image {
    margin-bottom: 20px;
  }

  &__link {
    margin-bottom: 7px;
  }
}
